# https://dart.dev/guides/libraries/private-files
# Created by `dart pub`
.dart_tool/

# macos files
.DS_Store
**/.DS_Store

# ignore temporary outputs
tmp/

# ignore python
.venv/

# ignore tmp schema
dakanji_db_schema/schema.pdf

# code counter
.VSCodeCounter/**

# ignore files that are converted from non yomitan dicts
input_files/**

# ignore files to run mecab in pure dart
unidic/**
libmecab.dylib
