# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
/build/

# Web related
lib/generated_plugin_registrant.dart

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# PlayStore
key.properties

# python
python
android/app/key.jks

# ignore tflite folder except for the copy models here note
assets/tflite_models/*
!assets/tflite_models/COPY_ML_RELEASE_HERE

# ignore tflite models
*.tflite

# libraries
*.so

# ignore LoC counter
.VSCodeCounter/

# force add tf lite desktop binaries
!blobs/**

# ignore custom tf lite flutter repo
# plugins/tflite_flutter_plugin/

# ignore all keys in keys folder
keys/DaKanjiRecognizer.jks

# ignore built snaps
*.snap
snap/snapcraft.yaml