# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
/build/

# Web related
lib/generated_plugin_registrant.dart

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# ignore keys
key.properties
keys/**

# python
python
android/app/key.jks

# ignore none mock tflite models
CNN_single_char.tflite

# libraries
*.so

# ignore LoC counter
.VSCodeCounter/

# binaries in blob folder
blobs/*
!blobs/.gitkeep

# ignore the dictionary files but keep the folder
assets/dict/*
!assets/dict/.gitkeep

# ignore mecab files
assets/ipadic

# plugins to ignore
# ignore custom tf lite flutter repo
# plugins/tflite_flutter_plugin/
./plugins/kagome_dart/*

# ignore all keys in keys folder
keys/DaKanjiRecognizer.jks

# ignore built snaps and the none template snapcraft.yaml
*.snap
snap/snapcraft.yaml

# ignore ephemerals
macos/Flutter/ephemeral/**
linux/flutter/ephemeral/**
