.elementor-1978 .elementor-element.elementor-element-6651f06{--spacer-size:20px;}.elementor-1978 .elementor-element.elementor-element-a248e80{--spacer-size:100px;}table {
    display: block;
    overflow-x: auto;
    white-space: nowrap;
}
table {
    display: block;
    overflow-x: auto;
    white-space: nowrap;
}