[Desktop Entry]
version=1.5
Name=DaKanji
Comment=You are learning Japanese? Then you need to try DaKanji!
Exec=dakanji %u
Icon=${SNAP}/data/flutter_assets/assets/images/dakanji/icon.png
Terminal=false
Type=Application
Categories=Education;Languages;
MimeType=x-scheme-handler/dakanji;