  [Desktop Entry]
  Name=DaKanji
  Comment=dakanji
  Exec=dakanji
  Icon=${SNAP}/meta/gui/icon.png # replace name to your app name
  Terminal=false
  Type=Application
  Categories=Education; #adjust accordingly your snap category
