[Desktop Entry]
version=1.5
Name=DaKanji
Comment=dakanji
Exec=dakanji
Icon=${SNAP}/bin/data/flutter_assets/assets/images/icons/icon.png
Terminal=false
Type=Application
Categories=Education;Languages;
